<div class="text-sm breadcrumbs ml-4">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to t('quizzes.index.title'), quizzes_path %></li>
    <li><%= link_to t('quizzes.show.title', region: @region.name), quiz_path(@region) %></li>
    <li><%= t('.title') %></li>
  </ul>
</div>
<div class="container mx-auto px-36">
<% @questions.each_with_index do |question, i| %>
  <% if question == @question %>
  <p>Q<%= i + 1 %>.</p>
  <% end %>
<% end %>
<p><%= @question.content %></p>
<div class="flex flex-col w-1/4 mx-auto">
<% @choices.each do |choice| %>
  <% if choice.correct_answer %>
    <label for="correct-answer-modal" class="btn m-4">
      <%= choice.content %>
    </label>
  <% else %>
      <label for="incorrect-answer-modal" class="btn m-4">
      <%= choice.content %>
    </label>
    <% end %>
<% end %>
</div>
<!-- Put this part before </body> tag -->
<!-- Correct Answer -->
<input type="checkbox" id="correct-answer-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">◎正解!</h3>
    <p class="py-4">正解は<%= @correct_choice.content %>です。</p>
    <div class="modal-action">
      <%= button_to achievements_path(choice_id: @correct_choice.id, question_id: @question.id, quiz_id: params[:quiz_id]), data: { "turbo-method": :post } do %>
        <button class="btn btn-secondary">OK</button>
      <% end %>
    </div>
  </div>
</div>
<!-- Mistake Answer -->
<input type="checkbox" id="incorrect-answer-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg"><i class="fa-solid fa-xmark"></i> 不正解です!</h3>
    <p class="py-4">もう一度挑戦しましょう</p>
    <div class="modal-action">
      <label for="incorrect-answer-modal" class="btn">Onemore!</label>
    </div>
  </div>
</div>
</div>
