<div class="text-sm breadcrumbs ml-4">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= t('.title') %></li>
  </ul>
</div>
<div class="flex m-10">
  <div class="flex-initial w-1/2">
    <%= image_tag 'italymap02.png', usemap: '#ImageMap', alt: 'Italy map', size: '700x700' %>
      <map name="ImageMap">
        <%= link_to '/quizzes/7' do %><area shape="poly" coords="504,80,504,87,478,111,487,124,483,134,496,155,519,153,524,162,531,158,551,165,562,136,549,139,553,130,560,123,543,117,551,102,565,88,548,84,534,86,524,81,507,79,507,73" alt="Friuli-Venezia Giulia" /><% end %>
        <%= link_to '/quizzes/6' do %><area shape="poly" coords="495,84,472,112,479,127,490,155,503,164,515,160,522,168,465,205,486,229,481,237,443,223,431,230,375,195,372,172,380,165,403,171,417,148,439,143,447,133,462,120,451,103,454,95,466,88,489,81,494,83,495,84" alt="Veneto" /><% end %>
        <%= link_to '/quizzes/5' do %><area shape="poly" coords="477,72,460,46,403,50,396,68,379,69,370,61,361,70,375,90,362,133,369,149,383,148,391,159,399,155,407,140,429,131,447,121,436,106,436,87,457,72,476,74,478,75" alt="Trentino-Alto Adige" /><% end %>
        <%= link_to '/quizzes/4' do %><area shape="poly" coords="362,95,341,84,342,113,332,120,322,105,296,112,288,95,272,128,274,150,265,155,243,134,238,150,254,185,237,200,275,243,276,225,295,206,363,230,405,227,364,194,364,169,375,160,361,161,353,136,362,114,362,114" alt="Lombardia" /><% end %>
        <%= link_to '/quizzes/2' do %><area shape="poly" coords="243,127,227,111,224,99,213,103,213,117,196,135,200,154,187,173,144,174,148,196,121,207,130,225,137,242,121,267,147,291,169,281,173,291,188,294,201,270,199,261,210,255,222,261,263,246,251,225,235,223,223,191,231,178,242,186,230,152,231,139,231,139" alt="Piemonte" /><% end %>
        <%= link_to '/quizzes/1' do %><area shape="poly" coords="182,138,186,151,178,160,158,157,144,166,136,164,138,150,127,147,136,136,150,143,173,131,173,131" alt="Valle d\'Aosta" /><% end %>
        <%= link_to '/quizzes/8' do %><area shape="poly" coords="467,241,449,231,420,246,341,237,293,219,282,249,294,264,294,272,301,277,311,267,326,269,338,286,361,296,385,305,420,291,438,306,437,320,454,338,464,323,476,314,499,329,503,326,472,296,468,272,468,272" alt="Emilia Romagna" /><% end %>
        <%= link_to '/quizzes/3' do %><area shape="poly" coords="310,300,295,280,280,272,278,267,256,259,240,269,210,270,195,301,175,302,161,319,175,322,196,315,228,277,253,279,304,308,304,308" alt="Liguria" /><% end %>
        <%= link_to '/quizzes/9' do %><area shape="poly" coords="326,292,367,317,406,317,419,305,428,311,433,338,461,347,448,371,457,379,417,459,401,459,360,409,345,358,317,295,317,295" alt="Toscana" /><% end %>
        <%= link_to '/quizzes/11' do %><area shape="poly" coords="470,333,479,328,501,345,509,329,555,363,578,415,546,431,520,411,503,363,497,364,478,354,478,354" alt="Marche" /><% end %>
        <%= link_to '/quizzes/10' do %><area shape="poly" coords="470,366,499,376,513,424,526,426,524,437,486,458,467,438,456,436,447,421,454,400,466,385,461,372,461,372" alt="Umbria" /><% end %>
        <%= link_to '/quizzes/12' do %><area shape="poly" coords="445,434,422,463,475,524,498,550,526,565,559,566,575,564,583,537,569,526,537,518,515,499,516,486,539,483,525,449,489,474,471,460,461,444,461,444" alt="Lazio" /><% end %>
        <%= link_to '/quizzes/13' do %><area shape="poly" coords="580,425,551,438,554,452,536,453,536,470,553,484,542,493,527,493,558,519,585,522,604,505,620,513,638,497,630,488,605,465,605,465" alt="Abruzzo" /><% end %>
        <%= link_to '/quizzes/14' do %><area shape="poly" coords="644,499,663,509,661,525,652,532,652,544,624,553,597,542,591,533,607,515,623,524,633,511,633,511" alt="Molise" /><% end %>
        <%= link_to '/quizzes/15' do %><area shape="poly" coords="588,554,608,567,601,551,626,563,660,552,667,570,679,586,695,589,695,598,679,603,703,646,713,657,707,669,687,680,661,660,648,622,624,619,617,608,602,604,585,587,577,572,577,572" alt="Campania" /><% end %>
        <%= link_to '/quizzes/16' do %><area shape="poly" coords="729,508,674,510,670,524,657,539,669,557,679,569,676,576,712,578,732,583,753,610,782,604,786,637,808,624,826,633,828,642,860,642,882,677,892,681,904,657,882,635,859,614,788,574,715,549,712,529,732,517,732,517" alt="Puglia" /><% end %>
        <%= link_to '/quizzes/17' do %><area shape="poly" coords="722,590,705,585,688,607,703,638,722,657,711,674,744,683,755,681,755,661,773,661,785,643,772,635,772,615,769,614,754,618,740,601,722,595,721,590,721,590" alt="Basilicata" /><% end %>
        <%= link_to '/quizzes/18' do %><area shape="poly" coords="766,676,757,695,733,694,721,684,718,686,727,717,746,771,757,781,747,802,730,807,740,820,722,845,715,847,716,861,739,866,748,849,758,827,776,821,769,794,785,772,802,769,813,767,806,737,807,733,787,718,764,709,774,674,774,674" alt="Calabria" /><% end %>
        <%= link_to '/quizzes/19' do %><area shape="poly" coords="700,838,668,859,649,852,611,870,590,864,566,876,557,861,545,864,539,850,526,853,530,861,505,873,498,857,483,873,492,890,502,902,523,897,583,938,618,947,633,970,650,980,670,978,673,965,685,954,665,922,670,902,702,846,702,846" alt="Sicilia" /><% end %>
        <%= link_to '/quizzes/20' do %><area shape="poly" coords="260,573,227,599,211,610,188,599,185,609,198,625,205,673,209,706,195,728,197,750,214,772,227,771,232,752,236,736,248,748,271,754,286,675,278,647,294,634,282,599,272,577,272,577" alt="Sardegna" /><% end %>
      </map>
  </div>
  <div class="flex-initial w-1/2">
    <p>文章テスト
    てすとtest試験ですHallo WORLD</p>
  </div>
</div>
