  <tr>
    <td>
      <%= aroma.id %>
    </td>
    <td>
      <%= aroma.name %>
    </td>
    <td>
      <%= image_tag aroma.image_url, size: '30x30' %>
    </td>
    <td>
      <div class="btn-group">
      <%= link_to t('defaults.edit'), edit_admin_aroma_path(aroma), class: 'btn btn-success' %>
      <%= button_to t('defaults.delete'), admin_aroma_path(aroma), method: :delete, data: { confirm: t('defaults.message.delete_confirm') }, class: 'btn btn-danger' %>
      </div>
    </td>
  </tr>
