<div class="text-sm breadcrumbs ml-4">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to t('quizzes.index.title'), quizzes_path %></li>
    <li><%= link_to t('quizzes.show.title', region: @region.name), quiz_path(@region) %></li>
    <li><%= t('questions.show.title') %></li>
  </ul>
</div>
<div class="container mx-auto">
  <div class="w-3/4">
    <p>Q. <%= @question.content %></p>
  </div>
  <div class="flex flex-row mt-6">
    <div class="basis-1/2">
      <p>A. 正解は<span class="font-bold"><%= @correct_choice.content %></span>です。</p>
      <p><%= @question.description %></p>
      <% if @next.present? %>
        <%= link_to quiz_question_path(quiz_id: @region.id, id: @next.id) do %><button class="btn btn-secondary btn-wide mt-10">次の問題</button>
        <% end %>
      <% else %>
        <%= link_to quizzes_path do %><button class="btn btn-wide mt-10">州選択に戻る</button>
        <% end %>
      <% end %>
    </div>
    <div class="basis-1/2">
      <div class="w-2/3">
        <%= render 'wine', wine: @question.wine %>
      </div>
    </div>
  </div>
</div>
