<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">vino! vino!! vino!!!</a>
  </div>
  <div class="flex-none z-40 mr-5">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to 'Quizzes', quizzes_path %></li>
      <li><%= link_to 'Wines', wines_path %></li>
      <li tabindex="0">
        <% if current_user %>
        <a>
          <%= image_tag current_user.avatar_url, class: 'mask mask-circle', size: '40x40' %>
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
        </a>
        <ul class="p-2 bg-base-100">
          <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
          <li><%= button_to "Logout", :logout, method: :delete %></li>
        <% else %>
          <li><%= link_to "Register", new_user_path %></li>
          <li><%= link_to "Login", :login %></li>
        <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>
