<div id="<%= dom_id admin_user %>">
  <p>
    <strong>Email:</strong>
    <%= admin_user.email %>
  </p>

  <p>
    <strong>Crypted password:</strong>
    <%= admin_user.crypted_password %>
  </p>

  <p>
    <strong>Salt:</strong>
    <%= admin_user.salt %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= admin_user.name %>
  </p>

</div>
