<div class="card w-96 bg-white shadow-xl m-8">
  <figure><%= image_tag 'wines/wine_no_image.jpg', alt:'wine_image' %></figure>
  <div class="card-body">
    <h2 class="card-title">
      <%= wine.name %>
    </h2>
    <p></p>
    <div class="card-actions justify-end">
      <div class="badge badge-<%= wine.wine_color %>"><%= wine.color %></div>
      <div class="badge badge-outline"><%= wine.region.name %></div>
    </div>
  </div>
</div>
